<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'AppTienda/css/styles_padre.css' %}" rel="stylesheet" />
    <title>Sneakers Eleven</title>
</head>
<body>
    <header> 
        <a href="{% url 'inicio' %}" class="logo">
            <img class="logo-img" src="{% static 'AppTienda/assets/img/logo.png' %}" />
            <h3 class="nombre-empresa"> Sneakers Eleven </h3>
        </a>
        <nav>
            <a href="" class="nav-link">Adidas</a>
            <a href="" class="nav-link">Nike</a>
            <a href="" class="nav-link">Puma</a>
        </nav>   
        <nav>
            <a href="{% url 'agregar_producto' %}" class="btn btn-outline-primary">Agregar Producto</a>
        </nav>
    </header>
    {% block contenido %}
    {% endblock %}
</body>
</html>